* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav-container {
  position: fixed;
  top: 0;
  background: linear-gradient(90deg, rgb(250, 176, 187), rgb(136, 230, 247));
  width: 100%;
  overflow: hidden;
  z-index: 999;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.nav-name {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(23, 22, 22);
  padding: 20px;
  margin-left: 20px;
  white-space: nowrap;
  animation: rotateName 5s infinite linear;
}

@keyframes rotateName {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.nav-icons {
  font-size: 20px;
  padding: 20px;
  margin-right: 20px;
}

.nav-icons a {
  margin-left: 15px;
}
.nav-icons a i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 6px;
  background-color: #fff;
  color: blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  animation: rotateIcon 5s infinite linear;
}
@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.display-sidebar {
  display: flex;
}
.side-bar-icon {
  margin-top: 60px;
  width: 20%;
  padding: 20px;
  position: fixed;
  top: 0;
  background-color: rgb(238, 175, 184);
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.total-content {
  width: 80%;
  margin-left: 20%;
  background: linear-gradient(90deg, rgb(250, 176, 187), rgb(136, 230, 247));
  margin-top: 60px;
}
.side-bar-icon a {
  display: block;
  text-decoration: none;
  padding-top: 20px;
  padding-left: 10px;
  color: #fff;
}
.icon-list {
  margin-top: 70px;
}
.side-bar-icon a i {
  margin-right: 20px;
  color: #f30f03;
}
.home-content h2 {
  margin-top: 60px;
  margin-left: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
}

.home-content input {
  width: 60%;
  padding: 6px;
  border: 1px solid #7a7979;
  border-radius: 10px;
  margin-left: 70px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.home-content button {
  margin-left: 10px;
  border: none;
  padding: 6px;
  border-radius: 10px;
}
.home-content button:hover {
  background-color: rgb(52, 214, 214);
  color: #201f1f;
}
