* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.total-columns {
  width: 100%;
  display: flex;
}
.total-columns .Column {
  float: left;
  margin: 18px;
  padding: 15px;
  box-sizing: border-box;
  background-color: blanchedalmond;
}
.total-columns .Column-2 {
  float: left;
  margin: 18px;
  padding: 15px;
  box-sizing: border-box;
  background-color: aquamarine;
}
h3 {
  text-align: center;
  font-size: 30px;
  padding: 5px;
  color: red;
}
.total-columns::after {
  content: "";
  display: table;
  clear: both;
}
