* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

div {
  display: flex;
  max-width: 65vw;
  height: 17.1rem;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.week {
  width: 100%;
}
span {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding-top: 1em;
  padding-bottom: 2em;
}
.day {
  flex-grow: 1;
}
