* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.side-bar {
  display: flex;
}
.side-bar .side-items {
  flex: 0 0 20%;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: lightpink;
  height: 100vh;
  overflow: hidden;
}
.side-bar .main-content {
  flex: 0 0 80%;
}
.side-bar .side-items a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50px;
  top: 70px;
  padding-top: 40px;
}
.side-bar .main-content {
  background-color: lightseagreen;
  padding-left: 20px;
}
