*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
.ground h1{
    background-color:black;
    color: white;
    text-align: center;
    padding: 6px;
    margin: 10px;
}

.ground p{
    background-image: url(dainosar.jpeg);
    color:black;
    background-size: 300px 500px;
    background-repeat:repeat;
    background-position: right;
    background-attachment: fixed;
    font-display: left;

    
}
