*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    padding: 10px;
    width: 500px;
    height: 500px;
    box-shadow: 0 0  5px 5px rgba(14, 12, 12, 0.2);
}
.details{
    margin: 20px;
    
}
.details>input{
    width: 100%;
    height: 3em;
    padding-left: 5px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    box-shadow: 0 0 5px 5px rgba(14, 12, 12, 0.2);
    border: none;
}
.details>label{
    font-size: 20px;
    margin-top: 10px;
}
.login-button{
    margin: 20px;
    
}
.login-button>input{
    width: 100%;
    height: 2em;
    padding-left: 5px;
    border-radius: 0.5em;
    outline: none;
    font-size: 20px;
    border: none;
    background-color: blue;
    color: whitesmoke;

}