* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .total-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .total-page select {
    border: 3px solid lightseagreen;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    -webkit-appearance: none;
  }
  .total-page select option {
    font-size: 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  